|print-width--------------------------------------------------------------------|

In HTMLElement children array,

it should not add Whitespace Trim Characters (WTC) if the liquid drop does not
break on a new line
<div>{% if condition %}hello{% endif %}</div>

it should add wtc if the liquid drop breaks on a new line and the previous/next
characters were not spaces.
<div>
  {%- if condition -%}
    aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
  {%- endif -%}
</div>
<div>
  <img>
  {%- if condition %}aaaaaa{% endif -%}
</div>

it should not add wtc if the liquid drop breaks on a new line and the
previous/next characters were spaces
<div>
  {% if condition %}
    aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
  {% endif %}
</div>

--------------------------------------------------------------------------------

In LiquidTag children array,

when it doesn't break, it should conditionally keep a leading space
{% form %}space{% endform %}
{% form -%}space{% endform %}
{%- form %} space{% endform %}

when it doesn't break, in a paragraph, is should keep a leading space
<p>haha{% tablerow %} space{% endtablerow %}</p>

when it does break and there was a whitespace, it should not change anything
{% form %}
  aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
{% endform %}

when it does break and there wasn't whitespace, it should add WTCs
{% form -%}
  aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
{%- endform %}

--------------------------------------------------------------------------------

In LiquidBranch children array,

when it doesn't break, it should conditionally keep a leading space
{% if A %}space{% endif %}
{% if A -%}space{% endif %}
{%- if A %} space{% endif %}

when it doesn't break, in a paragraph, is should keep a leading space
<p>haha{% if A %} space{% endif %}</p>

when it does break and there was a whitespace, it should not change anything
{% if true %}
  aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
{% endif %}

when it does break and there wasn't whitespace, it should add WTCs
{% if true -%}
  aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
{%- endif %}

--------------------------------------------------------------------------------

In paragraphs,

it should add wtc if the liquid drop breaks next to a character (but not if not)
<div>
  Hey
  {% if true %}
    buddyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyy
  {%- endif -%}
  , how are you doing? boo
  {%- if true -%}
    oooooooooooooooooooooooooooooooooooooooooooooooooooooooooom!
  {%- endif %}
</div>
