|print-width--------------------------------------------------------------------|

In children array,

it should not add Whitespace Trim Characters (WTC) if the liquid drop does not
break on a new line
<div>{% if condition %}hello{% endif %}</div>

it should add wtc if the liquid drop breaks on a new line and the previous/next
characters were not spaces.
<div>{% if condition %}aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa{% endif %}</div>
<div><img>{% if condition %}aaaaaa{% endif %}</div>

it should not add wtc if the liquid drop breaks on a new line and the
previous/next characters were spaces
<div> {% if condition %} aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa {% endif %} </div>

--------------------------------------------------------------------------------

In paragraphs,

it should add wtc if the liquid drop breaks next to a character (but not if not)
<div>
  Hey {% if true %} buddyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyy{% endif %}, how are you doing?
  boo{% if true%}oooooooooooooooooooooooooooooooooooooooooooooooooooooooooom!{% endif %}
</div>
