It should never break on capture var name
printWidth: 1
{% capture varName -%}{%- endcapture %}
{% capture varName -%}{%- endcapture %}
{% capture varName -%}{%- endcapture %}
{%- capture varName -%}{% endcapture %}

It should be indentation sensitive
<p>
  {% capture var %}
    # heading

    - list
      * elem
  {% endcapture %}
</p>
