It should never break on capture var name
printWidth: 1
{% capture varName %}{% endcapture %}
{%   capture   varName   %}{% endcapture %}
{%capture varName %}{% endcapture %}
{%- capture
varName
-%}{% endcapture %}

It should be indentation sensitive
<p>{% capture var %}
    # heading

    - list
      * elem
  {% endcapture %}
</p>

It should behave like a normal tag if the capture tag is set white-space normal
printWidth: 1
<!-- white-space: normal -->
{% capture var %}
  <div>{{ x }}</div>
{% endcapture %}

It should behave like a normal tag if the capture tag is set white-space normal (Liquid)
printWidth: 1
{% # white-space: normal %}
{% capture var %}
  <div>{{ x }}</div>
{% endcapture %}

It should print as is without the white-space normal comment
printWidth: 1
{% capture var %}
  <div>{{ x }}</div>
{% endcapture %}
