<!--
  This gets reindented, but we don't parse the content.
  So stuff can be unclosed and it'll be fine.
  <article id="1234">
-->

<!--
  This gets reindented, but we don't parse the content.
  So stuff can be unclosed and it'll be fine.
  <article id="1234">
-->

<!-- if it fits inline, it fits inline -->

It should change the css display of the next node
printWidth: 1
<!--
  display: block
-->
<span>
  {{ hi }}
</span>

<!-- MSO conditional comments should be preserved inline -->

<!--[if mso]>
  <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="570" align="center">
  <tr>
  <td bgcolor="#054A49">&nbsp
<![endif]-->

<!-- IE Comments & operator -->

<!--[if (gt IE 5)&(lt IE 7)]>
  <script src="DD_belatedPNG.js"></script>
  <script>
    DD_belatedPNG.fix('.png');
  </script>
<![endif]-->


<!-- IE Comments | operator -->

<!--[if (IE 6)|(IE 7)]>
  <style type="text/css">
  a		{ color:#fff; }
  </style>
<![endif]-->
