<!--
This gets reindented, but we don't parse the content.
So stuff can be unclosed and it'll be fine.
<article id="1234">
-->

<!-- This gets reindented, but we don't parse the content.
So stuff can be unclosed and it'll be fine.
<article id="1234"> -->

<!-- if it fits inline, it fits inline -->

It should change the css display of the next node
printWidth: 1
<!-- display: block -->
<span>{{ hi }}</span>
