When it doesn't break, it should conditionally omit the leading space

It should omit the leading space if it is stripped anyway
{% form -%}space{% endform %}

It should not omit the leading space if there's leading whitespace
{% form %} space{% endform %}
{%- form %} space{% endform -%}
{% form %} space{% endform %}

It should not omit the whitespace because of whitespace stripping outside the
tag
<p>
  {{ value -}}
  {%- form %} aaaaaaaaaaaaaaaaaaaaaaaaaaaa{% endform %}
</p>

It should not omit the whitespace if it is included inline in a paragraph
<p>haha{% form %} space{% endform %}</p>
