When it doesn't break, it should conditionally keep a leading space

It should not keep the leading space if there's space before the tag
{% form %} space{% endform %}

It should not keep the leading space if it is stripped anyway
{% form -%} space{% endform %}

It should keep the whitespace if the whitespace before the tag is stripped
{%- form %} space{% endform -%}
{% form %} space{% endform %}

It should keep the whitespace in this weird exception case
<p>
{{ value }}{% form %} aaaaaaaaaaaaaaaaaaaaaaaaaaaa{% endform %}
</p>

It should keep the whitespace in this weird exception case
<p>
{{ value -}}{%- form %} aaaaaaaaaaaaaaaaaaaaaaaaaaaa{% endform %}
</p>

It should keep the whitespace if it is included inline in a paragraph
<p>haha{% form %} space{% endform %}</p>

---

When it unbreaks, it should conditionally keep a leading space

It should not keep a leading space when there's space before the tag
{% form %}
  space{% endform %}

It should not keep a leading space if it is stripped anyway
{% form -%}
  space{% endform %}

It should not keep a leading space if there is otherwise
<p>
{% form %}
  space{% endform %}
</p>

It should keep a leading space if there wouldn't be otherwise
<p>
X{% form %}
  space{% endform %}
</p>

It should keep a leading space if the outer left whitespace is stripped
{%- form %}
  space{% endform -%}
{% form %}
  space{% endform %}
