When it doesn't break, it should conditionally omit the leading space

It should omit the leading space if it is stripped anyway
{% form 'cart' -%} space{% endform %}

It should not omit the leading space if there's leading whitespace and the
tag is leading whitespace sensitive
htmlWhitespaceSensitivity: "strict"
{% form 'cart' %} space{% endform %}
{%- form 'cart' %} space{% endform -%}
{% form 'cart' %} space{% endform %}

It should omit the leading space if there's leading whitespace and the
tag is not leading whitespace sensitive
{% form 'cart' %} space{% endform %}
{%- form 'cart' %} space{% endform -%}
{% form 'cart' %} space{% endform %}

It should not omit the whitespace if it is included in a tag that creates an
inline formatting context
htmlWhitespaceSensitivity: "strict"
<p>haha{% form 'cart' %} space{% endform %}</p>

It should omit the whitespace if it is included in a tag that creates a block
formatting context.
<p>haha{% form 'cart' %} space{% endform %}</p>
