<ul>
  <li>lists always break</li>
</ul>
<ol>
  <li>lists always break</li>
</ol>

<ul>
  <li>
    really really really really really really really really really really long
    lines break
  </li>
  <li>shorter ones don't</li>
</ul>
