<div>
  {% raw %}
  const a = [1, 2, 3];
  const b = function() {
    return null;
  }

  const config = {
    product: {{ product | json }},
  };

  for (const x of foo) {
    if (true) {
      // noooo
    }
  }
  {% endraw %}
{% raw %}
  <div x=1 y=2 z=3>UNCLOSED HAHA
{% endraw %}
</div>

it should pretty-print and indent the contents of the schema tag
printWidth: 1
{% schema %}
{ "some": { "indented": "Object" }}
{% endschema %}
