<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <script src="file:///Users/charles/src/github.com/Shopify/prettier-plugin-liquid-prototype/node_modules/prettier/standalone.js"></script>
  <script src="file:///Users/charles/src/github.com/Shopify/prettier-plugin-liquid-prototype/standalone.js"></script>
  <title>Prettier Liquid Plugin</title>
  <style>
    textarea {
      width: 100ex;
      height: 100ex;
    }
    #stderr {
      width: 200ex;
      height: 30ex;
    }
  </style>
</head>

<body>
  <textarea id="input" placeholder="Unformatted input">
&lt;ul&gt;{% for el in col %}&lt;li class=&quot;{% cycle &#39;odd&#39;, &#39;even&#39; %}&quot; id=&quot;el-{{ el.index }}&quot;&gt;{{ el.image }}&lt;/li&gt;{% endfor %}&lt;/ul&gt;

&lt;ul class=&quot;container&quot;&gt;
{% for el in col %}&lt;li class=&quot;{% cycle &#39;odd&#39;, &#39;even&#39; %}&quot; id=&quot;something&quot; data-prop=&quot;some value&quot;&gt;
  &lt;div class=&quot;item-container&quot;&gt;  &lt;label&gt;{{ el.value }}&lt;/label&gt;
   {{ el.featured_image | image_url | image_tag }}
      &lt;/div&gt;
    &lt;/li&gt; {% endfor %}
&lt;/ul&gt;
  </textarea>
  <textarea id="output" placeholder="Prettified output" readonly></textarea>
  <textarea id="stderr" placeholder="Error output" readonly></textarea>

  <script>
    function format() {
      try {
        output.value = prettier.format(input.value, {
          plugins: [prettierPluginLiquid],
          parser: 'liquid-html',
        });
        stderr.value = '';
      } catch (error) {
        stderr.value = error.stack || error;
      }
    }

    function onKeyup(e) {
      if (e.ctrlKey && event.key === 'f') {
        input.value = output.value;
      }
    }

    format();
    input.oninput = format;
    input.addEventListener('keyup', onKeyup)
    input.onkeydown = keybind;
  </script>
</body>
