It should borrow parent and close tag parameters
<span
  ><sc src="aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa"
/></span>

It should not borrow parent and close tag parameters when htmlWhitespaceSensitivity is set to ignore
htmlWhitespaceSensitivity: "ignore"
<span>
  <sc src="aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa" />
</span>

It should borrow prev and next tag parameters
<span
  ><sc
  /><sc src="aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa"
  /><sc
/></span>

It should not borrow prev and next tag parameters when htmlWhitespaceSensitivity is set to ignore
htmlWhitespaceSensitivity: "ignore"
<span>
  <sc />
  <sc src="aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa" />
  <sc />
</span>
