<div>
{% for a in b %}
  <span>{{ a }}</span>
{% else %}
<span>Hello world!</span>
{% endfor %}
</div>

<div>
{% if condition %}
  <span>{{ condition }}</span>
{% else %}
<span>Hello world!</span>
{% endif %}
</div>

<div>
{% unless condition %}
<span>Hello world!</span>
{% elsif other %}
  <span>{{ condition }}</span>
{% endunless %}
</div>

It should indent when statements and their children
<div>
{% case pastry %}
{% when 'oopsie' %}
{% when 'croissant' %}
Mmmm
{% when 'muffin' %}
Yea. Alright.
{% when 'veggie' %}
That's not a pastry!
{% else %}
What do you want?
{% endcase %}
</div>

When there's a TextNode child, it should format the children as a paragraph
<div>
{% if a %}
hello {{ world }}!
{% else if b %}
{% if x %}Greetings{% else %}Hello{% endif %}, friend!
{% endif %}
</div>

When there's aren't TextNodes children, it should break every child on a new
line.
<section>
{% if a %}
<div>Hello</div>
<div>content</div>
{% else if b %}
{% if greeting %}
<div>hello</div>
{% endif %}
<div>content</div>
{% endif %}
</section>
