<div>
{% for a in b %}
  <span>{{ a }}</span>
{% else %}
<span>Hello world!</span>
{% endfor %}
</div>

<div>
{% if condition %}
  <span>{{ condition }}</span>
{% else %}
<span>Hello world!</span>
{% endif %}
</div>

<div>
{% unless condition %}
<span>Hello world!</span>
{% elsif other %}
  <span>{{ condition }}</span>
{% endunless %}
</div>

<div>
{% case pastry %}
{% when 'oopsie' %}
{% when 'croissant' %}
Mmmm
{% when 'muffin' %}
Yea. Alright.
{% when 'veggie' %}
That's not a pastry!
{% else %}
What do you want?
{% endcase %}
</div>
