it should format as expected
<c-header>
  <header
    class="
      relative z-[10]
      pt-2 pb-8 md:pt-6 md:pb-12
      container
      flex flex-wrap gap-x-2 sm:gap-x-6
    "
  >
    <div class="shrink-0 w-full max-xl:mb-[-1px]"></div>
  </header>
</c-header>
