<div>
{%schema%}
{
  "hello": "world"
}
{%endschema%}
{%-schema-%}
  {
    "hello": "world"
  }
{%-endschema-%}
</div>

it should not try to format invalid json, should not reindent
{% schema %}
{ "invalid":
  'json' }
{% endschema %}
