When it doesn't break, it should conditionally omit the trailing space

It should omit the trailing space if it is stripped anyway
{% form 'cart' %}space {%- endform %}

It should not omit the trailing space if there's trailing whitespace and the
parent is trailing space sensitive
{% capture var %}space {% endcapture %}
{%- capture var %}space {% endcapture -%}
{% capture var %}space {% endcapture %}

It should omit the trailing space if there's trailing whitespace and the parent
is not trailing space sensitive
{% form 'cart' %}space {% endform %}
{%- form 'cart' %}space {% endform -%}
{% form 'cart' %}space {% endform %}

It should not omit the whitespace because of whitespace stripping outside the tag
<p>
{% capture var %}aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa {% endcapture %}{{ value }}
</p>

It should omit the surrounding whitespace and inner whitespace for block
rendering contexts
<p>haha{% form 'cart' %}space {% endform %}haha</p>
