|print-width--------------------------------------------------------------------|

In HTMLElement children array,

it should not add wtc if the liquid tag breaks on a new line, the node is not
leading/trailing space sensitive, and there was no leading/trailing whitespace.
Also, the leading/trailing whitespace sensitivity should be propagated inward
for inline liquid tags.
<div>{% if condition %}aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa{% endif %}</div>

it should add wtc if the liquid tag breaks on a new line, the node is
leading/trailing space sensitive, and there was no leading/trailing whitespace
<span>{% if condition %}aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa{% endif %}</span>

<div><img>{% if condition %}aaaaaa{% endif %}</div>

it should not add wtc if the liquid drop breaks on a new line and the
previous/next characters were spaces
<div> {% if condition %} aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa {% endif %} </div>

--------------------------------------------------------------------------------

In LiquidTag children array,

when it does break, there was a whitespace, and the parent is not
leading/trailing space sensitive, it should not change anything
{% form %} aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa {% endform %}

--------------------------------------------------------------------------------

In LiquidBranch children array,

when it does break and there was a whitespace, it should not change anything
{% if true %} aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa {% endif %}

when it does break and there wasn't whitespace, it should add WTCs
{% if true %}aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa{% endif %}

--------------------------------------------------------------------------------

In paragraphs,

it should add wtc if the liquid drop breaks next to a character (but not if not)
<div>
  Hey {% if true %} buddyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyy{% endif %}, how are you doing?
  boo{% if true%}oooooooooooooooooooooooooooooooooooooooooooooooooooooooooom!{% endif %}
</div>
