it should format as expected
<!-- prettier-ignore-attribute -->
<div
  class="[[ cssClasses.checkbox ]] form-checkbox sm:text-[8px]"
  type="checkbox"
  [[# isRefined ]]
    checked
  [[/ isRefined ]]
>
  hello
</div>
