{% liquid
  if has_3d
    assign wrapper = 'product-media'
  else
    assign wrapper = 'div'
  endif
%}
<div>
  <{{ wrapper }} loading="lazy">
    Content that goes in the middle
  </{{ wrapper }}>
</div>
