|print-width--------------------------------------------------------------------|

In children array,

it should not add Whitespace Trim Characters (WTC) if the liquid tag does not
break on a new line
<div>{% echo 'hello' %}</div>

it should add wtc if the liquid tag breaks on a new line and the previous/next
characters were not spaces.
<div>
  {%- echo 'aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa' -%}
</div>
<div>
  {%- echo 'aaa' -%}
  {%- echo 'bbb' %}
  {% echo 'ccc' %}
</div>

it should not add wtc if the liquid tag breaks on a new line and the
previous/next characters were spaces
<div>
  {% echo 'aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa' %}
</div>

--------------------------------------------------------------------------------

In paragraphs,

it should add wtc if the liquid tag breaks next to a character (but not if not)
<div>
  Hey
  {% echo 'aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa' -%}
  , how are you doing?
</div>
