<div
  id="1234"
  class="long string of class names"
  style="width: 100px; height: auto;"
>
  <img
    src="https://content.instructables.com/ORIG/F23/YMO0/FPIUQOJF/F23YMO0FPIUQOJF.jpg"
    width="320"
    height="240"
    loading="lazy"
    disabled
  >
  <img
    src="https://content.instructables.com/ORIG/F23/YMO0/FPIUQOJF/F23YMO0FPIUQOJF.jpg"
    width="320"
    height="240"
    loading="lazy"
    disabled
  />
  <a width="320" disabled>Click me</a>
  <a disabled width="320">Click me</a>
</div>
<span>Hi, muffin!</span>
