<head id="head">
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <link rel="stylesheet" href="assets/styles.css" />

  <!-- I'm ashamed that this is parser blocking, I had to do it
    to support local development. Sorry. -->
  <script src="https://www.unpkg.com/prettier@2.7.1/standalone.js"></script>
  <script src="https://www.unpkg.com/prettier@2.7.1/parser-babel.js"></script>
  <script src="https://www.unpkg.com/prettier@2.7.1/parser-espree.js"></script>
  <script src="https://www.unpkg.com/prettier@2.7.1/parser-postcss.js"></script>
  <script>
    // This script exists to support local development with a more recent build
    // We'll try to load the local standalone file and fallback to the
    // unpkg one
    function getScript(url) {
      const script = document.createElement('script');
      script.src = url;
      script.defer = true;
      return script;
    }

    const unpkgUrl =
      'https://www.unpkg.com/@shopify/prettier-plugin-liquid@v1.2.0/standalone.js';
    if (/localhost|127.0.0.1/.test(window.location.href)) {
      const script = getScript('assets/standalone.js');
      script.onerror = () => {
        const script = getScript(unpkgUrl);
        document.head.appendChild(script);
      };
      document.head.appendChild(script);
    } else {
      const script = getScript(unpkgUrl);
      document.head.appendChild(script);
    }
  </script>
  <script src="assets/playground.js" defer></script>
  <title>Prettier Liquid Plugin - Playground</title>
</head>

<body>
  <header>
    <span href="/" class="logo-wrapper">
      <img
        class="logo"
        src="https://github.com/Shopify/theme-check-vscode/blob/main/images/shopify_glyph.png?raw=true"
        alt=""
      />
      <h1>
        Prettier Plugin Liquid
        <span id="version"
          ><a
            href="https://github.com/shopify/prettier-plugin-liquid/blob/main/CHANGELOG.md"
            target="_blank"
            rel="noreferrer noopener"
            >v1.2.0</a
          ></span
        >
      </h1>
    </span>
    <span class="links">
      <!-- Place this tag where you want the button to render. -->
      <a
        class="github-button"
        href="https://github.com/shopify/prettier-plugin-liquid"
        data-size="large"
        data-show-count="true"
        aria-label="Star shopify/prettier-plugin-liquid on GitHub"
        >Star</a
      >
    </span>
  </header>
  <div id="root" class="playground-container">
    <div class="editors-container">
      <div class="options-container open">
        <div class="options">
          <details class="sub-options" open>
            <summary>Options</summary>
            <label title="The line length where Prettier will try wrap.">
              --print-width
              <input
                id="printWidthRange"
                type="range"
                min="0"
                max="200"
                step="10"
                value="120"
              />
              <input
                id="printWidthNumber"
                type="number"
                min="0"
                step="10"
                value="120"
              />
            </label>
            <label
              title="How meaningful whitespace is handled between HTML nodes"
            >
              --html-whitespace-sensitivity
              <select id="htmlWhitespaceSensitivity">
                <option value="css">css</option>
                <option value="strict">strict</option>
                <option value="ignore">ignore</option>
              </select>
            </label>
            <label title="Use single quotes instead of double quotes.">
              <input id="singleQuote" type="checkbox" /> --single-quote
            </label>
            <label title="Use single quotes in Liquid.">
              <input id="liquidSingleQuote" type="checkbox" checked />
              --liquid-single-quote
            </label>
          </details>
        </div>
      </div>
      <textarea
        id="input"
        class="editor"
        placeholder="Unformatted input"
        spellcheck="false"
      >
&lt;ul&gt;{% for el in col %}&lt;li class=&quot;{% cycle &#039;odd&#039;, &#039;even&#039; %}&quot; id=&quot;el-{{ el.index }}&quot;&gt;{{ el.image }}&lt;/li&gt;{% endfor %}&lt;/ul&gt;

&lt;ul class=&quot;container&quot;&gt;
{% for el in col %}&lt;li class=&quot;{% cycle &#039;odd&#039;, &#039;even&#039; %}&quot; id=&quot;something&quot; data-prop=&quot;some value&quot;&gt;
  &lt;div class=&quot;item-container&quot;&gt;  &lt;label&gt;{{ el.value }}&lt;/label&gt;
   {% assign alt = el.featured_image.alt | replace: &#039;vanilla&#039;, &#039;chocolate&#039; | upcase %}
   {{ el.featured_image | image_url | image_tag }}
      &lt;/div&gt;
    &lt;/li&gt; {% endfor %}
&lt;/ul&gt;
      </textarea>
      <div class="editor">
        <textarea
          id="output"
          class="editor"
          placeholder="Prettified output"
          readonly
        ></textarea>
        <div id="rulers" class="rulers">
          <div id="ruler" class="ruler"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="bottom-bar">
    <div class="bottom-bar-buttons"></div>
    <div class="bottom-bar-buttons bottom-bar-buttons-center">
      Inspired by the
      <a href="https://prettier.io/playground" target="_blank">
        Prettier playground
      </a>
    </div>
    <div class="bottom-bar-buttons bottom-bar-buttons-right">
      <a
        id="reportIssue"
        href="https://github.com/shopify/prettier-plugin-liquid/issues/new"
        target="_blank"
        rel="noopener noreferrer"
      >
        <button type="button" class="btn">Report issue</button>
      </a>
    </div>
  </div>

  <!-- Place this tag in your head or just before your close body tag. -->
  <script async defer src="https://buttons.github.io/buttons.js"></script>
</body>
