<div>
  <script>
    const a = [1, 2, 3];
    const b = function() {
      return null;
    }

    const config = {
      product: {{ product | json }},
    };

    for (const x of foo) {
      if (true) {
        // noooo
      }
    }
  </script>
  <script id="my-script" type="text/javascript">
    const a = [1, 2, 3];
    const b = function() {
      return null;
    }

    const config = {
      product: {{ product | json }},
    };

    for (const x of foo) {
      if (true) {
        // noooo
      }
    }
  </script>
</div>
