it should correctly parse custom elements starting with a voidElementName (such as base-element)
<div>
    <base-cart attr1 attr2="val">
      
    </base-cart>
</div>

it should correctly parse custom elements starting with a voidElementName (such as based-element)
<div>
    <based-element>
      
    </based-element>
</div>
