<div>
  {%
    render 'foo',
    product: product
  %}
  {{
    product.featured_image
    | image_url: width: 400, height: 400, crop: 'top',
    | image_tag
  }}
</div>
<div>
  {%
    render 'foo',
    product: product
  %}
  {{
    product.featured_image
    | image_url: width: 400, height: 400, crop: 'top',
    | image_tag
  }}
</div>
