It should print the bracket on the same line
bracketSameLine: true
printWidth: 1
<div
  attr="1"
  attr2="2">
  click
</div>

It should print the bracket on a different line
bracketSameLine: false
printWidth: 1
<div
  attr="1"
  attr2="2"
>
  click
</div>
